
@{
    ViewData["Title"] = "about";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/aboutStyle.css")" />
</head>


<div class="divBg">
    <b>Biblioteca Județeană ”Olympia”</b> <br />
    str. M. Kogalniceanu nr.9, <br />
    tel.: 0251-532267, 0351-441809, 0351-441810, fax: 0251-523177 <br />
    e-mail: bib@olympia.ro <br /><br />

    <b>Filiale</b><br />
    Filiala nr.1: Cartier Brazda lui Novac, Bloc G8, parter. Tel.: 0351 432 072;<br />
    Filiala nr.2: Cartier Craioviţa Nouă, Complex Orizont, parter. Tel.: 0351 432 073;<br />
    Filiala nr.3: Cartier Valea Roşie, Bloc 52, sc. 1, ap. 1. Tel.: 0351 432 071;<br />
    Filiala nr.4: Cartier Rovine, Bloc E21, sc. 2, ap. 1. Tel.: 0351 432 070.<br />
    <br /><br />


</div>
<div id="google-map">
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2854.705642864967!2d23.79660216286839!3d44.3160015394131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sBiblioteca%20Jude%C8%9Bean%C4%83!5e0!3m2!1sro!2sro!4v1620323883769!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="true" loading="lazy" ></iframe>
    
</div>
