@using Microsoft.AspNetCore.Identity
@inject UserManager<Olympia_Library.Data.ApplicationUser> UserManager
@inject SignInManager<Olympia_Library.Data.ApplicationUser> SignInManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Olympia Bookshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body id="mainBody ">
    <header>
        <nav class="fixed-top navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><img class="app-logo" src="~/images/app-logo.jpg" /></a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navMenu">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">

                        <li><a asp-controller="Home" asp-action="Index" class="nav-link text-dark active">Home</a></li>
                        <li><a asp-controller="Book" asp-action="Index" class="nav-link text-dark">Books</a></li>
                        <!-- <li><a asp-controller="Home" asp-action="BookSpecial" class="nav-link text-dark">Book of the day</a></li>
                        <li><a asp-controller="Home" asp-action="About" class="nav-link text-dark">About</a></li>-->
                        <li><a asp-controller="Book" asp-action="RandomBook" class="nav-link text-dark">Random Book</a></li>

                        @{if (User.IsInRole("Admin"))
                            {
                    <li><a asp-controller="Home" asp-action="AdminActions" class="nav-link text-dark">Admin privileges</a></li>
 } }

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container main-body-content">
        <main role="main" class="pb-lg-3">
            
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
