@model Olympia_Library.Models.GenreModel.NewGenreModel

@{
    ViewData["Title"] = "admin";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/accountStyle.css")" />
</head>

<div class="divBg"> 
    <div class="row text-center">
        <div class="col-md-6">


            <form method="post" enctype="multipart/form-data" asp-action="AddGenre">

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                </div>


                <div class="form-group">
                    <div class="col-md-4">
                        <p>Upload Book Cover</p>
                        <input type="file" asp-for="ImageFile" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <input type="submit" />
                    </div>
                </div>
                @{ if (ViewData["Message"] == "1") @Html.Raw("<p style=\"color:green\">Book added </p>"); }
                @{ if (ViewData["Message"] == "0") @Html.Raw("<p style=\"color:red\">Book could not be added</p>"); }

            </form>

        </div>
    </div>
</div>

